<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fate1412.crmSystem.mainTable.mapper.StockListProductMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.fate1412.crmSystem.mainTable.pojo.StockListProduct">
        <result column="stock_list_id" property="stockListId" />
        <result column="product_id" property="productId" />
        <result column="stock_num" property="stockNum" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
        <result column="creater" property="creater" />
        <result column="updater" property="updater" />
        <result column="del_flag" property="delFlag" />
    </resultMap>

</mapper>
