<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fate1412.crmSystem.moduel.mainTable.mapper.StockListMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.fate1412.crmSystem.moduel.mainTable.pojo.StockList">
        <id column="id" property="id" />
        <result column="stock_up_date" property="stockUpDate" />
        <result column="prices" property="prices" />
        <result column="is_stock_up" property="isStockUp" />
        <result column="is_acceptance" property="isAcceptance" />
        <result column="is_pressing" property="isPressing" />
        <result column="owner" property="owner" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
        <result column="creater" property="creater" />
        <result column="updater" property="updater" />
        <result column="del_flag" property="delFlag" />
    </resultMap>

</mapper>
