<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fate1412.crmSystem.moduel.flow.mapper.SysFlowPointMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.fate1412.crmSystem.moduel.flow.pojo.SysFlowPoint">
        <id column="id" property="id" />
        <result column="flow_id" property="flowId" />
        <result column="panel_point" property="panelPoint" />
        <result column="approver" property="approver" />
        <result column="next_point" property="nextPoint" />
    </resultMap>

</mapper>
