<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fate1412.crmSystem.module.flow.mapper.SysFlowMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.fate1412.crmSystem.module.flow.pojo.SysFlow">
        <id column="id" property="id" />
        <result column="name" property="name" />
        <result column="relevance_table" property="relevanceTable" />
        <result column="trigger_action" property="triggerAction" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
        <result column="creater" property="creater" />
        <result column="updater" property="updater" />
    </resultMap>

</mapper>
