<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fate1412.crmSystem.module.customTable.mapper.TableDictMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.fate1412.crmSystem.module.customTable.pojo.TableDict">
        <id column="id" property="id" />
        <result column="real_table_name" property="realTableName" />
        <result column="table_name" property="tableName" />
        <result column="show_name" property="showName" />
    </resultMap>


    <sql id="whereType">
        <if test="factor.factor == 'EQ'">
            ${factor.field} = #{factor.value}
        </if>
        <if test="factor.factor == 'NE'">
            ${factor.field} != #{factor.value}
        </if>
        <if test="factor.factor == 'GT'">
            ${factor.field} > #{factor.value}
        </if>
        <if test="factor.factor == 'GE'">
            ${factor.field} >= #{factor.value}
        </if>
        <if test="factor.factor == 'LT'">
            ${factor.field} &lt; #{factor.value}
        </if>
        <if test="factor.factor == 'LE'">
            ${factor.field} &lt;= #{factor.value}
        </if>
        <if test="factor.factor == 'LIKE'">
            ${factor.field} like '%'#{factor.value}'%'
        </if>
        <if test="factor.factor == 'LEFT_LIKE'">
            ${factor.field} like #{factor.value}'%'
        </if>
        <if test="factor.factor == 'RIGHT_LIKE'">
            ${factor.field} like '%'#{factor.value}
        </if>
        <if test="factor.factor == 'NOT_LIKE'">
            ${factor.field} not like #{factor.value}
        </if>
        <if test="factor.factor == 'BETWEEN'">
            ${factor.field} between #{factor.value} and #{factor.value2}
        </if>
        <if test="factor.factor == 'NOT_BETWEEN'">
            ${factor.field} not between #{factor.value} and #{factor.value2}
        </if>
        <if test="factor.factor == 'ISNULL'">
            ${factor.field} == null
        </if>
        <if test="factor.factor == 'IS_NOTNULL'">
            ${factor.field} != null
        </if>
        <if test="factor.factor == 'IN'">
            ${factor.field} in
            <foreach collection="factor.values" item="value" open="(" close=")" separator="," >
                #{value}
            </foreach>
        </if>
        <if test="factor.factor == 'NOT_IN'">
            ${factor.field} not in
            <foreach collection="factor.values" item="value" open="(" close=")" separator="," >
                #{value}
            </foreach>
        </if>
        <if test="factor.factor == 'OR'">
            or
        </if>
    </sql>

    <select id="select" resultType="com.alibaba.fastjson.JSONObject" >
        select * from ${tableName}
        <if test="factors != null and factors.size() > 0">
            where
            <foreach collection="factors" item="factor" index="index">
                <if test="(index != 0) and (factor.factor != 'OR') and (factors.get(index-1).factor != 'OR')">
                    and
                </if>
                <include refid="whereType"/>
            </foreach>
        </if>
    </select>
    <update id="createTable">
        create table if not exists ${tableDict.realTableName}
        (
            `id` bigint NOT NULL,
            `create_time` datetime NOT NULL COMMENT '创建时间',
            `update_time` datetime NOT NULL COMMENT '更新时间',
            `creater` bigint NOT NULL COMMENT '创建人',
            `updater` bigint NOT NULL COMMENT '修改人',
            `del_flag` tinyint(1) NOT NULL DEFAULT '0',
            PRIMARY KEY (`id`)
        ) COMMENT= #{tableDict.showName}
    </update>

</mapper>
