<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fate1412.crmSystem.mapper.CustomerMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.fate1412.crmSystem.pojo.Customer">
        <id column="id" property="id" />
        <result column="name" property="name" />
        <result column="customer_type" property="customerType" />
        <result column="mobile" property="mobile" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
        <result column="creater" property="creater" />
        <result column="update_member" property="updateMember" />
        <result column="del_flag" property="delFlag" />
        <result column="owner" property="owner" />
    </resultMap>

</mapper>
